node_modules/
.env
public/dist/uploads/
public/dist/casestudies/
public/dist/blogs/
public/dist/usecases/
public/dist/authors/
public/dist/industry_reports/
public/dist/webinars/
public/dist/media/
astro
scraper
frontend
images
